:root {
  --azure: #0290ff;
  --black-two: #121212;
  --cool-blue: #4386bf;
  --white: #fff;
  --medium-blue: #307bbe;
  --dodger-blue: #379cf6;
  --warm-grey: #888;
  --prussian-blue: #003153;
}

@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Roboto+Slab&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap');

body {
  font-family: 'Inter', sans-serif;
  background-color: var(--white);
  margin: 0;
  padding: 0;
  font-size: 14px;
  text-align: center;
}

a {
  text-decoration: none;
}

.nav {
  background-color: var(--prussian-blue);
  position: fixed;
  top: 0;
  width: 100%;
  height: 5rem;
}

.nav-text {
  color: var(--white);
  font-family: 'Roboto', sans-serif;
  font-size: 2.3rem;
  margin-top: 0;
  padding: 15px 0;
}

.title-div {
  width: 100%;
}

.title {
  margin: 35% auto 8% auto;
  width: 85%;
  line-height: 1.1;
  color: var(--black-two);
  font-size: 2em;
}

.roboto {
  font-family: 'Roboto', sans-serif;
}

.image {
  box-shadow: 1px 5px 9px 2px #d1d1d1;
  transition: box-shadow 0.5s, border 1s;
  background-color: #f1efef;
}

.recipe-img {
  width: 50%;
  border-radius: 50%;
}

.food-title {
  width: 100%;
  font-size: 1.5em;
  color: #c80815;
  padding-bottom: 10px;
}

.category-filter {
  display: flex;
  border-radius: 4%;
  height: 7vh;
  justify-content: center;
  align-items: center;
  margin: 30% auto 6% auto;
}

.category-title {
  font-size: 22px;
  padding-right: 10px;
}

.select-filter {
  padding: 5px 6px;
  outline: none;
}

.details {
  width: 100%;
}

.food-details {
  flex-direction: column;
  width: 80%;
  text-align: center;
  margin: 30% auto auto auto;
}

.food-details .image {
  box-shadow: none;
  border: none;
  background-color: #fff;
}

.details-container .details-title {
  color: var(--prussian-blue);
  font-size: 18px;
  font-weight: 600;
}

.span {
  color: #000;
  font-size: 16px;
}

.food-details .btn {
  margin: 15px 15px;
  font-size: 14px;
  padding: 10px;
  border: 1px solid #fff;
  border-radius: 5px;
  min-width: 100px;
  color: #fff;
  background-color: var(--prussian-blue);
}

@media (min-width: 768px) {
  .container {
    flex-wrap: wrap;
    justify-content: space-around;
    flex-direction: row;
    display: flex;
  }

  .image {
    width: 300px;
  }

  .food-details {
    margin-top: 18%;
  }

  .food-details .image {
    margin: auto;
  }

  .title {
    margin-top: 15%;
    margin-bottom: 3%;
  }

  .nav-text {
    text-align: left;
    padding-left: 50px;
  }

  .category-filter {
    margin: 15% auto 3% auto;
  }
}

@media (min-width: 1024px) {
  .title {
    margin-top: 10%;
  }

  .category-filter {
    margin-top: 8%;
  }

  .category-title {
    margin-top: 1%;
  }

  .select-filter {
    width: 300px;
  }

  .food-details {
    margin-top: 10%;
  }
}
